#business-rules table {
  border-collapse: collapse !important;
}

#business-rules table td, 
#business-rules table th {
  background-color: #fff !important;
}

#business-rules table > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9 !important;
}